#nis_country_IR{
	top: 34%;
    right: 50%;
}

#nis_country_MY{
	top: 68%;
    right: 37%;
}

#nis_country_KW{
	top: 42%;
    right: 50%;
}

#nis_country_BH{
	top: 59%;
    right: 50%;
}

#nis_country_SA{
	top: 51%;
    right: 52%;
}

#nis_country_AE{
	top: 67%;
    right: 50%;
}

#nis_country_OM{
	top: 75%;
    right: 50%;
}

#nis_country_PK{
	top: 40%;
    right: 41%;
}

#nis_country_BD{
	top: 45%;
    right: 30%;
}

#nis_country_MM{
	top: 50%;
    right: 20%;
}

#nis_country_QA{
	top: 60%;
    right: 40%;
}

#nis_country_SG{
	top: 76%;
    right: 34%;
}

#nis_country_ID{
	top: 74%;
    right: 23%;
}

#nis_country_TH{
	top: 58%;
    right: 20%;
}

#nis_country_VN{
	top: 60%;
    right: 12%;
}

#nis_country_KH{
	top: 67%;
    right: 12%;
}

#nis_country_PH{
	top: 74%;
    right: 12%;
}